<footer class="mg-top_2">
  <div class="flex-row flex-centered wrapper">
    <div class="footer-info col-4">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore quas neque dignissimos. Atque, excepturi doloremque.</p>
    </div>
    <div class="footer-navigation col-4">
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="messages.html">Messages</a></li>
          </ul>

    </div>
    <address class="footer-contact_data col-4">
        {{ site.data.site-data.address }}
    </address>
  </div>
</footer>