<nav class="main-nav flex-row flex-centered">
  <div class="col-4">
    <a href="#">LOGO</a>
  </div> 
  <ul class="col-4 flex-row flex-centered">
    <li><a href="{{base.ur}}/index.html">Home</a></li>
    <li><a href="{{base.ur}}/about.html">About</a></li>
    <li><a href="{{base.ur}}/messages.html">Messages</a></li>
  </ul>
  <div class="admin-buttons flex-row col-4 ">
    <!-- Add a menu:
    Log in / Sign up - when the user is not logged in
    Username / Log out - when the user is logged in
    -->
    <div data-netlify-identity-menu class="login" ></div>

    <!-- Add a simpler button:
    Simple button that will open the modal.
    <div data-netlify-identity-button></div>
    -->
    

  </div>
</nav>