/* Imports */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Just+Another+Hand&display=swap');


:root {
  /* Color Scheme */
  --white_lighter: #e8ecf7;
  --white_darker: #dce0ea;
  --grey: #474747;
  --black: #11151c;

  --red: #b2353f;
  --green: #23ce6b;

  /* Typography */
  --cursive: 'Just Another Hand', cursive;
}

