<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ site.data.site-data.title }}</title>
  <meta name="description" content="{{ site.data.site-data.description }}" > 
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="flex-column">
  {% include nav.html %}

  {{ content }}
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>